body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400, 500, 700, 900;
    color:#212121;
}
:root {
    --brand-color: #2196F3;
    --detail-color: #757575;
    --bright-color: #FFFFFF;
    --body-color: #2F303A;
    --detail-font: 14px;
    --subject-font: 16px;
}
.logotype, .footer-link {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
}
.logotype {
    color:#000000;
}
.logotype, .offer-item, .navigation, .offer-category {
    text-align: left;
}
.logotype, .navigation, .head-title, .offer-item, .offer-category {
    vertical-align: top;
}
.head-title, .head-button, .expansion-title, .team-title, .team-name, .filter-button {
    text-align: center;
}
.highlight {
    color: var(--brand-color);
}
.footer-link {
    color: var(--bright-color);
}
ul {
    list-style-type: none;
}
.link, .footer-link {
    text-decoration: none;
}
.navigation {
    font-style: medium;
    font-weight: 500;
    font-size: var(--detail-font);
    line-height: 1.14;
    letter-spacing: 2%;
    text-shadow: 0px, 4px, 4px, #000000;
}
.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-address .link:hover,
.footer-address .link:focus {
    color: var(--brand-color);
}
.footer-address .link {
    color: #FFFFFF99;
}
.contact {
    color: var(--detail-color);
}
.head {
    width: 1600px;
    height: 600px;
    margin-top: 80px;
    background-color: var(--body-color);
}
.head-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6%;
    border-color: #000000;
    text-shadow: 0px, 4px, 4px, #000000;
}
.head> .head-button,
.head>.head-button:active {
    background-color: var(--brand-color);
    width: 200px;
    height: 50px;
    margin-top: 430px;
    margin-left: 700px;
    font-size: var(--subject-font);
    font-weight: 700;
    font-style: bold;
    line-height: 1.875;
    letter-spacing: 6%;
    border: none;
    border-radius: 4px;
}
.head-title, .head-button {
    color: var(--bright-color);}
.contents-title {
    font-size: var(--detail-font);
    line-height: 1.14;
    letter-spacing: 3%;
}
.contents-text {
    color: var(--detail-color);
    font-size: var(--detail-font);
    line-height: 1.71;
    letter-spacing: 3%;
}
.expansion-title, .team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 3%;
}
.team-name {
    font-size: var(--subject-font);
    line-height: 1.17;
    letter-spacing: 3%;
}
.team-name-line1 {
    color: #212121;
    font-style: medium;
    font-weight: 500;
}
.team-name-line2 {
    color: var(--detail-color);
    font-size: var(--subject-font);
}
.footer {
    width: 1600px;
    height: 252px;
    top: 2097px;
    background-color: var(--body-color);
}
.footer-address {
    color: var(--bright-color);
    font-style: normal;
    font-size: var(--detail-font);
    line-height: 1.71;
    letter-spacing: 3%;
}
.filter-button {
    background-color: #F5F4FA;
    font-family: Roboto;
    font-style: medium;
    font-size: var(--subject-font);
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;
}
[type=button]:hover,
[type=button]:active {
    background-color: var(--brand-color);
    color: var(--bright-color);
    background: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.offer-item {
    color: #212121;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
}
.offer-category {
    color: var(--detail-color);
    font-size: var(--subject-font);
    line-height: 1.875;
    letter-spacing: 3%;
}