body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400, 500, 700, 900;
}
.logotype {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 3%;
    color: #000000;
}
.highlight {
    color: #2196F3;
}
ul {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.navigation {
    color: #212121;
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    text-align: mixed;
    line-height: 16.41px;
    letter-spacing: 2%;
    text-shadow: 0px, 4px, 4px, #000000;
}
.link:hover,
.link:focus {
    color: #2196F3;
}
.contact {
    color: #757575;
}
.head {
    width: 1600;
    height: 600;
    top: 80;
    background-color: #2F303A;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    vertical-align: top;
    border-color: #000000;
    text-shadow: 0px, 4px, 4px, #000000;
}
button> .order {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    top: 430 px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
}
h1, .order {
    color: #FFFFFF;
    text-align: center;
}